<h1>Pokemons</h1>
<!-- pokemons.component.html -->
<span *ngFor="let observable$ of pokemons">
  <span *ngIf="observable$ | async as pokemon">
    <img [src]="pokemon.sprites.front_default" alt="">
  </span>
</span>
